div.footer {
	position: relative;
	bottom:-15px;
	left:-7px;
	width: calc(100% + 14px);
	height: 90px;
	background-color: #121212;

	text-align:center;
	vertical-align: center;

	margin: 0;
}
div.footer *{
	margin-top: 15px;
	margin-bottom: 15px;
}