.links{
    display:inline-block;
    position: absolute;
    height: 50px;
    width: 350px;
    top: calc(50% - 25px);
    left: calc(50% - 175px);
    text-align:center;
}
.links *{
    padding: 4pt;
}

.links a{
    font-size: 28pt;
    padding: 4pt;
    color: white;
    transition: 0.3s;
}
/* Github */
.links a .fa-github         {color: #ae8ee6;}

/* Discord */
.links a .fa-discord        {color: #7289DA;}

/* Twitch */
.links a .fa-twitch         {color: #6441a5;}

/* Twitter */
.links a .fa-twitter        {color: #08a0e9;}

/* Email (Contact) */
.links a .fa-envelope       {color: #f25e5e;}

/* Paypal Donate */
.links a .fa-paypal			{color: #169bd7;}
.links a .fa-paypal:hover 	{color: #253b80;}



.links a *{
    transition: 0.3s;
}
.links a *:hover{
    color: #b5e6d3;
}

#hvtxt{
    width: 150px;
    color: white;
    height: 50px;
    text-align:center;
    position:absolute;
    top: calc(70% - 25px);
    left:calc(50% - 75px);
}
