table.links {
	border: 1px solid rgba(255,120,220,.8);
	margin-left: auto;
	margin-right: auto;
	display:block;
	width: 756px;
}
table.links td,
table.links th{
	border: 1px solid rgba(125,200,255,.75);
}

table.links td{
	padding: 2px;
	width: 100%;
}
table.links h3{
	margin: 5px;
	margin-top: 2px;
	text-align: top;
	float: top;
}


table.links a img{
	border: 2px solid rgb(109, 109, 109);
	display:block;
	width: 200px;
	height: 71px;
	-webkit-transition: 0.4s;
			transition: 0.4s;
	-webkit-filter: brightness(75%) grayscale(100%) sepia(10%);
			filter: brightness(75%) grayscale(100%) sepia(10%);
}
table.links a img:hover{
	border: 2px outset rgba(255,90,120,.7);
	border-image: url("img/border.gif") 2 round;
	border-image-source: url("img/border.gif");
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: round;
	-webkit-transition: 0.2s;
			transition: 0.2s;
	-webkit-filter: brightness(100%) grayscale(0%) sepia(0%) hue-rotate(360deg) saturate(130%) contrast(1);
			filter: brightness(100%) grayscale(0%) sepia(0%) hue-rotate(360deg) saturate(130%) contrast(1);
}

table.links th{
	padding: 8px;
	text-align: justify;
}

img.main {
	width: 480px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}