table.links {
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	display:block;
	width: 50%;
}
table.links td{
	border: 1px solid white;
}

table.links td{
	padding: 2px;
	width: 100%;
}
table.links h3{
	margin: 5px;
}


table.links a img{
	border: 3px solid rgb(109, 109, 109);
	display:block;
	width: 200px;
	height: 71px;
	margin: auto;
	filter: grayscale(100%);
	border-image: none;
	transition: 0.4s;
	filter: brightness(75%) grayscale(100%) sepia(10%);
}
table.links a img:hover{
	border: 3px solid transparent;
	border-image: url("img/border.gif") 3 round;
	-webkit-filter: brightness(100%) grayscale(0%) sepia(0%) hue-rotate(360deg) saturate(100%) contrast(1);
	filter: brightness(100%) grayscale(0%) sepia(0%) hue-rotate(360deg) saturate(100%) contrast(1);
	transition: 0.4s;
}

img.main {
	width: 480px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}