@import url("links.css");
@import url("title.css");
@import url("music.css");
@import url("subtitle.css");

*{
    font-family: sans-serif;
}

body{
    background-color: #1a1a1a;
}

a{color:#fcba03;transition: 0.3s;}
a:hover{color:#0398fc;}

.notice{
    color: white;
    position:absolute;
    bottom: 15px;
    left:15px;
}

.hit-counter{
    position:absolute;
    top: 15px;
    right: 15px;
}
