.musicticker{
	width: 250px;
	height: 27px;

	border-left: 3px solid white;
	border-right: 3px solid white;

	position: absolute;
	bottom: 50px;
	left: calc(50% - 250px/2);

	text-align: center;
}
.musicticker div{
	padding-top:5px;
}